<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="#{editTask}"> </title>
</head>
<body>
<div th:include="navigate.html"></div>

<div th:include="lang.html"></div>
<h2  th:text="#{editTask}"></h2>
<form method="post" th:action="@{/tasks/edit}">
    <div>
        <label th:text="#{name}" for="title"  >Name: </label><br>
        <input name="title" id="title" type="text" th:value="${task.title}"/>
    </div>
    <div>
        <label for="description"  th:text="#{description}"></label><br>
        <input name="description" id="description" type="text" th:value="${task.description}"/>
    </div>
    <div>
        <label for="date" th:text="#{date}"></label><br>
        <input name="date" id="date" type="datetime-local" th:value="${task.date}"/>
    </div>
    <div>
        <input type="hidden" name="id" th:value="${task.id}"/>
        <input type="submit" value="submit"/>
    </div>
</form>

</body>
</html>