<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title  th:text="#{makeSubtask}"></title>
</head>
<body>
<div th:include="navigate.html"></div>
<div th:include="lang.html"></div>
<h2  th:text="#{makeSubtask}"></h2>

<form method="post" th:action="@{/tasks/sub/create}" >
    <div>
        <label for="title"  th:text="#{name}"> </label><br>
        <input name="title" id="title" type="text"/>
    </div>
    <div>
        <label for="description"  th:text="#{description}"></label><br>
        <input name="description" id="description" type="text"/>
    </div>
    <div>
        <input type="hidden" id="superTaskId" name="superTaskId" th:value="${idnr}"/>
        <input type="submit" value="submit">
    </div>
</form>
</body>
</html>